.company_status_no {
    color: green;
}
.company_status_yes {
    color: red;
}
.company_status_remote {
    color: orange;
}
.company_status_freeze {
    color: blue;
}
.company_status_hiring {
    color: #fd5068
}