.company_card {
    display: inline-block;
    width: 300px;
    min-height: 350px;
    border: 1px solid #C6C6C6;
    margin: 5px;
    padding: 20px;
    vertical-align: top;
    transition: background-color 0.25s;

    img {
        width: 100px;
    }
    .name {
        font-size: 20pt;
        margin-top: 40px;
        font-weight: 600;
    }
    .company_status {
        font-size: 20pt;
        font-weight: 600;
        margin-top: 40px;
    }
    .company_status_no {
        color: green;
    }
    .company_status_yes {
        color: red;
    }
    .company_status_remote {
        color: orange;
    }
    .company_status_umm {
        color: blue;
    }
    .meta {
        margin-top: 50px;
        font-weight: 500;
        text-align: left;
    }
}

.company_card:hover,
.company_card:active {
    background-color: #C6C6C6;
}