@import 'StatusColors';

.company_card {
    // display: table-cell;
    flex: 0.2;
    width: 300px;
    // min-height: 350px;
    border: 4px solid rgba(0,0,0,0.05);
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    vertical-align: top;
    img {
        width: 100px;
    }
    .name {
        font-size: 20pt;
        margin-top: 40px;
        font-weight: 600;
    }
    .company_status {
        font-size: 20pt;
        font-weight: 600;
        margin-top: 40px;
    }
    .meta {
        margin-top: 50px;
        font-weight: 500;
        text-align: left;
    }
}

.shortened_notes {
    cursor: pointer;
    .notes_read_more {
        padding: 15px;
        margin-top: 20px;
        border-radius: 7.5px;
        font-weight: 640;
        border: 3px solid rgba(0,0,0,0.1);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        &:hover {
            background: #222;
            color: #fff;
        }
    }
}


.sources {
    margin-top: 20px;
    text-align: left;
}