.company_popup {
    .company_logo {
        width: 64px;
        margin: 5px;
    }

    .company_status {
        font-size: 16pt;
        font-weight: 600;
        margin: 10px;
    }
    .meta {
        font-size: 12pt;
        font-weight: 500;
    }
}