@import 'StatusColors';

h1 {
    padding: 20px;
    
}

.feed-container td {
    border-collapse: collapse;
}

.feed-container img {
    width: 32px;
    height: 32px;
}

.feed-container .status {
    font-weight: 600;
    font-size: 32px;
    margin: 16px;
}

.feed-container .company-name {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 24px;
    line-height: 32px;
}

.feed-container .timestamp {
    font-size: 24px;
    line-height: 32px;
}

.feed-container td {
    margin-bottom: 32px;
}
