@import 'StatusColors';

h1 {
    padding: 20px;
    
}

.feed-title {
    font-weight: 400;
}

.feed-container {
    .header {
        font-weight: 700;
        text-align: center;
    }
}

.feed-container tr {
    background-color: #fafafa;
    &:hover {
        background-color: #eee;
    }
}

.feed-container td {
    padding: 20px;
    // border-collapse: collapse;
}

.feed-container img {
    width: 32px;
    height: 32px;
}

.feed-container .status {
    font-weight: 600;
    font-size: 24px;
    margin: 16px;
}

.feed-container .company-name {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 20px;
    font-weight: 600;
}

.feed-container .timestamp {
    font-size: 24px;
    line-height: 32px;
}

.feed-container td {
    margin-bottom: 32px;
}
