#map_options {
    position: fixed;
    z-index: 1000;
    bottom: 7%;
    right: 2.5%;
    width: 250px;
    height: 210px;
    padding: 30px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);

    h3 {
        padding-bottom: 10px;
        font-weight: 500;
    }
    p {
        padding-bottom: 10px;
    }
    label {
        padding-left: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }

    .company_status_no {
        color: green;
    }
    .company_status_yes {
        color: red;
    }
    .company_status_remote {
        color: orange;
    }
    .company_status_freeze {
        color: blue;
    }
    .company_status_hiring {
        color: #fd5068
    }
}

#map_options_toggle {
    cursor: pointer;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */

    font-size: 12pt;

    position: fixed;
    z-index: 2000;
    top: 28px; 
    right: 28px;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;

    background-color: #E8E8E8;
    border-radius: 50%;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}

#map_options_home {
    color: black;
    text-decoration: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
                                  
    font-size: 12pt;

    position: fixed;
    z-index: 2000;
    top: 28px; 
    right: 80px;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;

    background-color: #E8E8E8;
    border-radius: 10%;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}

.floating_button_container {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: +9999;
}